_site/
.sass-cache
.jekyll-cache/
.jekyll-metadata/
vendor/
firebase-debug.log
queue/firebase-debug.log

# queue files
queue_app.html
queue.html
public/manifest.json
public/apple-touch-icon-144-precomposed.png
public/static/
