_site/
.sass-cache
.jekyll-cache/
.jekyll-metadata/
vendor/
firebase-debug.log
queue/firebase-debug.log

# queue files
queue_app.html
queue.html
public/manifest.json
service-worker.js
service-worker.js.map
service-worker.js.LICENSE.txt
icon144.png
public/static/
